@charset "utf-8";
/* CSS Document */
body{background: black;color: white}

h1{text-align: center;
	color: orange;
font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
font-size: 40px}
body{max-width: 800px}
#About{border: 10px solid #CC185B;padding-left: 10px; padding-bottom: 10px;
font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
font-size: 15px}
#Freetime{border: 10px solid orange;padding-left: 10px;padding-bottom: 10px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
font-size: 15px}
#Personal{border: 10px solid orange;padding-left: 10px;padding-bottom: 10px;
font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
font-size:15px}